name: Maven Build

on:
  push:
    branches:
      - "**"   # run on push to any branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B clean verify

      - uses: codecov/codecov-action@v5
        with:
          directory: coverage-reports/target
          name: inbox4j-coverage # optional
          verbose: true # optional (default = false)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}